<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <link href="style.css" rel="stylesheet">
  <style>
    body{
    background-color:#0d8f73;
    }
    button{
    background: #34eb58;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    border-color: #23fc4e;
    font-size: auto;
    color: white;
    padding-top:50px;
    padding-bottom:68px;
    padding-left:auto;
    padding-right:auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:15px;
    margin-bottom: 15px;
    }
  </style>
</head>

<body>
  <button type="submit">Аварийная остановка</button>
  <button type="submit">Отсутствие полуфабриката</button>
  <button type="submit">Сбой настроек</button>
  <button type="submit">Снижение скорости на оборудовании</button>
  <button type="submit">Другая</button>
</body>
</html>